<!doctype html>
<html>
  <head>
    <meta name="keywords" content="Kinice的个人博客">
    <meta name="description" content="Kinice的个人博客，分享kinice的点滴生活">
    <meta name="author" content="Kinice">
    <meta name="baidu-site-verification" content="yo7pE95Dym" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/basic.css" />
    <link rel="stylesheet" href="/static/css/chat.css" />
    <link rel="stylesheet" href="/static/fonts/iconfont.css"/>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="login" id="login">
      <div class="login-con">
        <div class="login-title">
          Tell Me Who You Are
        </div>
        <input type="text" id="username">
      </div>
    </div>
    <div class="g-hd">
      <h1 class="title">
        聊天室
      </h1>
    </div>
    <div class="g-bd" id="msg-body"></div>
    <div class="g-chatpart">
      <textarea name="chat" id="chat" placeholder="What u wanna say?"></textarea>
    </div>
    <script src="/static/js/socket.io.js"></script>
    <script>
        window.onload = function() {
          var socket = io()
          var i = 0
          var textarea = document.getElementById('chat')
          var body = document.getElementById('msg-body')
          var namespace = document.getElementById('username')
          var login = document.getElementById('login')
          var timeStamp = new Date().getTime()
          var username = ''

          login.addEventListener('keypress', function(e) {
            e.preventDefault()
            if(e.keyCode == 13) {
              if(namespace.value) {
                username = namespace.value
                document.body.removeChild(login)
              }
            } else {
              namespace.value += e.key
            }
          })

          textarea.addEventListener('keypress', function(e) {
            e.preventDefault()
            if(e.keyCode == 13) {
              var msg = textarea.value
              if(!msg) {
                return
              }
              var finalMsg = {
                username: username,
                msg: msg,
                stamp: timeStamp
              }
              socket.emit('socket message', finalMsg)
              textarea.value = ''
              body.appendChild(createMsgBox(finalMsg, true))
            } else {
              textarea.value += e.key
            }
          })

          socket.on('socket message', function(msg) {
              if(timeStamp != msg.stamp && msg.msg) {
                body.appendChild(createMsgBox(msg.msg, false))
              }
              body.scrollTop = body.scrollHeight
          })
        }

        function createMsgBox(msg, isSelf) {
          var msgBox = document.createElement('div')
          var avatar = document.createElement('div')
          var msgCon = document.createElement('div')
          var name = document.createElement('div')

          avatar.innerText = '头像'
          avatar.className = 'avatar'

          msgCon.innerText = msg.msg
          msgCon.className = 'chat-msg'

          name.innerText = msg.username
          name.className = 'name'

          msgBox.appendChild(avatar)
          msgBox.appendChild(msgCon)
          msgBox.appendChild(name)
          msgBox.className = 'chat-msg-box'

          isSelf ? msgBox.className += ' self' : msgBox.className += ' others' 

          return msgBox
        }
    </script>
  </body>
</html>
