<!doctype html>
<html>
  <head>
    <meta name="keywords" content="Kinice的个人博客">
    <meta name="description" content="Kinice的个人博客，分享kinice的点滴生活">
    <meta name="author" content="Kinice">
    <meta name="baidu-site-verification" content="yo7pE95Dym" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/basic.css" />
    <link rel="stylesheet" href="/static/css/chat.css" />
    <link rel="stylesheet" href="/static/fonts/iconfont.css"/>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="login" id="login">
      <div class="login-con">
        <div class="login-title">
          Tell Me Who You Are
        </div>
        <input type="text" id="username">
      </div>
    </div>
    <div class="g-hd">
      <h1 class="title">
        聊天室
      </h1>
    </div>
    <div class="g-bd" id="msg-body"></div>
    <div class="g-chatpart">
      <textarea name="chat" id="chat" placeholder="What u wanna say?"></textarea>
    </div>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/chat.js"></script>
  </body>
</html>
