</div>
<footer class="g-ft">
    Designed by <span>Kinice</span> | View me on <a href="http://github.com/kinice/finalShow" class="iconfont">GitHub &#xe600;</a>
</footer>
<i class="iconfont back-to-top">&#xe60d;</i>
<script type="text/javascript" src="/static/js/header.min.js"></script>
<script type="text/javascript"> (function (w) { w.frontjsConfig = {token: '896f504e71009c8a391a2db736b0bc69', behaviour: 15} })(window); </script> <script type="text/javascript" src="https://static.frontjs.com/dist/current/tracker.min.js" crossorigin="true"></script>
</body>
</html>
