<%- include header %>
<!-- reg part -->
<div class="g-bd">
    <div class="m-form">
        <form method="post">
            <label>用户名：</label> <input type="text" name="name"/><br/>
            <label>密码：</label> <input type="password" name="password"/><br/>
            <input type="submit" value="请求系统登入" class="button"/>
        </form>
    </div>
</div>
<%- include footer %>
