<%- include header %>
<!-- reg part -->
    <div class="g-bd">
        <div class="m-form">
            <form method="post">
                <label>用户名：</label> <input type="text" name="name"/><br/>
                <label>密码：</label> <input type="password" name="password"/><br/>
                <label>确认密码：</label> <input type="password" name="password-repeat"/><br/>
                <label>email：</label> <input type="email" name="email"/><br/>
                <label>QQ：</label> <input type="number" name="qq"/><br/>
                <label>电话：</label> <input type="number" name="phone"/><br/>
                <input type="submit" value="数据确认 请求写入" class="button"/>
            </form>
        </div>
    </div>
<%- include footer %>
