/*common index*/
.g-hd{                  /*HEADER!!!!*/
    width: 100%;
    height: 58px;
    background-color: #fbc599;
    position: relative;
    color: #fff;
}
/*LOGO PART*/
.m-logo{
    width: auto;
    position: absolute;
    left: 6%;
}
.m-logo h1{
    font-size: 20px;
    height: 58px;
    line-height: 58px;
}
/*NAV PART*/
.m-nav{
    position: absolute;
    right: 6%;
}
.m-nav ul li{
    float: left;
    height: 58px;
    line-height: 58px;
}
.m-nav ul li a{
    display: block;
    height: 100%;
    text-decoration: none;
    padding:0 20px;
    color: #fff;
}
.m-nav ul li a:hover{
    border-bottom: 2px solid #00B7FF;
    color:#b94a48;
}
.u-nav{
    float: left;
    padding-right: 30px;
}
.u-user{
    float: left;
    height: 58px;
    line-height: 58px;
    color: #fff;
}
.u-user a{
    color: #fff;
}
.u-user h1{
    float:left;
    padding-right: 20px;
}
/*Index Part!!!!*/
.g-bd{
    width: 100%;
    height: 2000px;
}
.g-top-info{
    width:100%;
    position: relative;
    height: 50vh;
    min-height: 300px;
    background-image: url("../images/ntk128027.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
}
.g-top-info:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.45);
}
.m-myinfo{
    position: absolute;
    z-index: 1000;
    width: 300px;
    height: 100px;
    bottom:35%;
    left: 15%;
    padding: 30px;
}
.m-myinfo h1{
    font-size: 36px;
    padding-bottom: 20px;
}
.m-myinfo p{
    font-size: 16px;
}