/*common index*/
.g-hd {
    /*HEADER!!!!*/
    width: 100%;
    height: 58px;
    background-color: #3b3e47;
    position: fixed;
    top: 0;
    left: 0;
    color: #ececee;
    z-index: 10000;
}
.g-bd {
    width: 100%;
    height: 100%;
    margin-top: 58px;
}

.g-inner {
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
}


/*LOGO PART*/

.m-logo {
    width: auto;
    position: absolute;
    left: 6%;
}

.m-logo h1 {
    font-size: 20px;
    height: 58px;
    line-height: 58px;
}

.mobile-icon {
    font-size: 24px;
    color: #fff;
    display: none;
    height: 24px;
    width: 24px;
}

.home {
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-menu {
    width: 90%;
    padding: 10px 0px;
    background: #acd0ce;
    position: absolute;
    top: 56px;
    right: 5%;
    z-index: 100000;
    border-radius: 4px;
    display: none;
}

.mobile-menu:after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #acd0ce transparent;
    position: absolute;
    top: -20px;
    right: 4px;
    z-index: 999999;
}

.mobile-search {
    padding: 5px 10px;
    letter-spacing: 0;
    font-size: 0;
}

.mobile-search input[type='text'] {
    display: inline-block;
    outline: none;
    border: none;
    width: 95%;
    height: 32px;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 5px;
    background-color: #4d939f;
    background-image: url('../images/search2.png');
    background-position: 98%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari and Chrome */
    -o-transition: all 0.5s;
}

.mobile-search input[type='text']:focus {
    background-color: #ececee;
}

.pin{
    display: block;
    position:absolute;
    top:17px;
    right: 14px;
    z-index: 999991;
    cursor:pointer;
    color: #f26651;
    font-size: 18px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);       /* IE 9 */
    -webkit-transform: rotate(0deg);   /* Safari and Chrome */
    -o-transform: rotate(0deg);        /* Opera */
    -moz-transform: rotate(0deg);
    transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -o-transition: transform 0.2s;
}
/*NAV PART*/

.m-nav {
    position: absolute;
    right: 4%;
}

.m-nav > ul > li {
    float: left;
    height: 58px;
    line-height: 58px;
}

.m-nav > ul > li > a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 0 16px;
    color: #ececee;
}

.m-nav > ul > li > a:hover {
    border-bottom: 2px inset #50c5c3;
    color: #50c5c3;
}

.input-li {
    width: 222px;
    height: 45px;
    font-size: 0;
    letter-spacing: 0;
    padding-left: 5px;
}

.m-nav input[type='text'] {
    display: inline-block;
    outline: none;
    border: none;
    width: 180px;
    height: 32px;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 5px;
    background-color: #555;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari and Chrome */
    -o-transition: all 0.5s;
}

.m-nav input[type='button'] {
    display: inline-block;
    outline: none;
    width: 32px;
    border: none;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
    background-image: url('../images/gsearch-sprite.png');
    background-position: 0 0;
    background-color: #555;
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    /* Firefox 4 */
    -webkit-transition: background-color 0.5s;
    /* Safari and Chrome */
    -o-transition: background-color 0.5s;
}

.m-nav input[type='text']:focus {
    background-color: #fff;
}

.m-nav input[type='text']:focus + input[type='button'] {
    background-color: #fff;
    background-position: 0 -40px;
}

.nav-inside {
    position: relative;
    z-index: 10001;
}

.nav-inside:hover ul {
    visibility: visible;
    opacity: 1;
}

.nav-inside ul {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.nav-inside ul li {
    width: inherit;
    background-color: #3b3e47;
}

.nav-inside ul li a {
    color: #ececee;
    display: block;
    text-align: center;
}

.nav-inside ul li a:hover {
    color: #3b3e47;
    background-color: #ececee;
    text-decoration: none;
    border-bottom: 2px solid #50c5c3;
}


/* bu yao de part*/

.u-user {
    float: left;
    height: 58px;
    line-height: 58px;
    color: #ececee;
}

.u-user a {
    color: #ececee;
}

.u-user h1 {
    float: left;
    padding-right: 20px;
}


/*Index Part!!!!*/

.g-top-info {
    width: 100%;
    position: relative;
    height: 40vh;
    min-height: 300px;
    background-image: url("../images/ntk128027.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
}

.g-top-info:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.45);
}

.m-myinfo {
    position: absolute;
    z-index: 1000;
    width: 50%;
    height: 100px;
    bottom: 35%;
    left: 15%;
    padding: 30px;
}

.m-myinfo h1 {
    font-size: 36px;
    padding-bottom: 20px;
}

.m-myinfo p {
    font-size: 16px;
}


/*REG AND LOGIN PART!!!!!!*/

.g-inner-logreg {
    width: 350px;
    margin: 0 auto;
    padding: 60px 0 50px 0;
}

.g-inner-logreg input {
    width: 200px;
    height: 25px;
    margin-top: 20px;
    right: 0px;
    display: inline-block;
    -webkit-box-shadow: 0 0 0 8px #eef7f9;
    box-shadow: 0 0 0 8px #eef7f9;
    border: 1px solid #cfdfe3;
    outline: 0;
    padding: 0 6px;
}

.g-inner-logreg label {
    display: inline-block;
    width: 100px;
    height: 29px;
    margin-top: 20px;
    text-align: right;
}

.g-inner-logreg .button {
    display: block;
    margin: 60px auto;
    background-color: #deeef4;
    color: #4d5a5e;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    height: 30px;
}

.g-inner-logreg input:focus {
    border-color: #93c2ec;
    -webkit-box-shadow: 0 0 0 8px #e1ecf5;
    box-shadow: 0 0 0 8px #e1ecf5;
}

/*post part !!!!*/

.g-inner-post{
    width: 70%;
    margin: 0 auto;
}
.g-inner-post label{
    width: 100px;
    height: 29px;
    margin-top: 20px;
    text-align: right;
}
/* article list part */
    /* article list all */
    .m-kind-list{}
    .m-kind{
        width: 90%;
        height: 220px;
        margin: 0 auto;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        background-color: #fff;
        transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -webkit-transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        font-size: 0;
        letter-spacing: 0;
    }
    .m-kind:hover{
        border-color: #f26651;
    }
    .m-kind-img{
       height: 100%;
        width: auto;
      display: inline-block;
    }
    .m-kind img{
        height: 100%;
        width: auto;
    }
    .m-kind-info{
        width: 570px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    .m-kind-info h2{
        font-size: 24px;
        padding: 30px 20px;
        text-align: center;
    }
    .m-kind-info a:hover{
        text-decoration: none;
        color: #f26651;
    }
    .m-kind-info p {
        text-align: center;
        font-size: 16px;
        padding: 20px;
    }
    .m-kind-info ul{
        display: inline-block;
    }
    .m-kind-info ul li{
        font-size: 14px;
        float: left;
        padding: 5px 12px;
        background-color: #00B7FF;
        border-radius: 3px;
        margin: 10px;
        color: #fff;
    }
    /* article list and video list part*/
    .m-art-list{
        width: 290px;
        height: 360px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        margin-bottom: 30px;
        overflow: hidden;
        background-color: #fff;
    }
    .img-a{
        height: 220px;
        width: 100%;
        display:block;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .m-art-list a:hover{
        color: #f26651;
        text-decoration: none;
    }
    .m-art-list h4{
        font-size: 20px;
        padding:10px 10px;
        height: 52px;
    }
    .m-art-list ul{
        display: inline-block;
    }
    .m-art-list ul li{
        font-size: 14px;
        float: left;
        padding: 5px 12px;
        background-color: #00B7FF;
        border-radius: 3px;
        margin: 4px;
        color: #fff;
    }
    .user-info{
        padding:3px 5px;
    }
    .user-info img{
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
/* article detail part */

.g-middle {
    width: 650px;
    background-color: #fff;
    margin: 0;
    float: left;
    position: relative;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 4px;
}

.g-middle h1 {
    font-size: 28px;
    padding: 7px 0;
}

.g-aside {
    width: 300px;
    float: right;
}

.m-title {
    padding: 9px 15px;
}

.m-article {
    padding: 14px 15px;
}

.m-article p {
    word-wrap: break-word;
    word-break: normal;
    line-height: 1.5;
}
/* Videos part */

/* Other Part */

.back-to-top {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    color: #000;
    background-color: #888;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 150px;
    right: 150px;
    display: none;
    -webkit-transition: background-color 0.15s;
    -moz-transition: background-color 0.15s;
    -ms-transition: background-color 0.15s;
    -o-transition: background-color 0.15s;
    transition: background-color 0.15s;
}

.back-to-top:hover {
    background-color: #bbb;
}

/* responsible part */

@media screen and (max-width: 800px) {
    .m-logo {
        width: 100%;
        position: static;
    }
    .m-logo h1 {
        text-align: center;
    }
    .m-nav {
        height: 58px;
        width: 100%;
        background-color: #3b3e47;
        position: static;
        text-align: center;
    }
    .m-nav ul {
        display: inline-block;
    }
    .g-bd {
        padding-top: 58px;
    }
    .m-myinfo {
        white-space: nowrap;
        width: auto;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .m-myinfo p {
        text-align: center;
        padding-top: 50px;
    }
    .g-inner {
        width: 95%;
        padding-top: 0;
    }
    .g-middle {
        width: 100%;
    }
    .g-aside {
        float: none;
        width: auto;
        text-align: center;
    }
    .back-to-top {
        width: 30px;
        height: 30px;
        background-color: rgba(220, 220, 220, 0.5);
        font-size: 15px;
        line-height: 30px;
        bottom: 25px;
        right: 25px;
        border-radius: 4px;
    }
}
@media screen and (max-width: 578px) {
    .input-li {
        display: none;
    }
    .m-nav > ul > li > a {
        padding: 0 10px;
    }
    .g-inner {
        width: 100%;
    }
    .mobile-menu {}
    .mobile-icon {
        display: block;
        padding-top: 15px;
        padding-bottom: 5px;
        cursor: pointer;
    }
    .home {
        padding-left: 20px;
        padding-right: 5px;
    }
    .menu {
        padding-right: 20px;
        padding-left: 5px;
    }
}
