/*common index*/
.g-hd{                  /*HEADER!!!!*/
    width: 100%;
    height: 58px;
    background-color: #3b3e47;
    position: relative;
    color: #ececee;
    z-index: 10000;
}
/*LOGO PART*/
.m-logo{
    width: auto;
    position: absolute;
    left: 6%;
}
.m-logo h1{
    font-size: 20px;
    height: 58px;
    line-height: 58px;
}
/*NAV PART*/
.u-nav{
    position: absolute;
    right: 4%;
}
.u-nav > ul > li{
    float: left;
    height: 58px;
    line-height: 58px;
}
.u-nav > ul > li > a{
    display: block;
    height: 100%;
    text-decoration: none;
    padding:0 20px;
    color: #ececee;
}
.u-nav > ul > li > a:hover{
    border-bottom: 2px inset #50c5c3;
    color:#50c5c3;
}
.input-li{
    width: 222px;
    height: 45px;
    font-size: 0;
    letter-spacing:0;
    padding-left: 5px;
}
.u-nav input[type='text']{
    display: inline-block;
    outline: none;
    border: none;
    width: 180px;
    height: 32px;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 5px;
    background-color: #555;
    transition:all 0.5s;
    -moz-transition:all 0.5s; /* Firefox 4 */
    -webkit-transition:all 0.5s; /* Safari and Chrome */
    -o-transition:all 0.5s;
}
.u-nav input[type='button']{
    display: inline-block;
    outline: none;
    width: 32px;
    border: none;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
    background-image: url('../images/gsearch-sprite.png');
    background-position:0 0; 
    background-color: #555;
    transition:background-color 0.5s;
    -moz-transition:background-color 0.5s; /* Firefox 4 */
    -webkit-transition:background-color 0.5s; /* Safari and Chrome */
    -o-transition:background-color 0.5s;
}
.u-nav input[type='text']:focus{
    background-color: #fff;
}
.u-nav input[type='text']:focus + input[type='button']{
    background-color: #fff;
    background-position: 0 -40px;
}
.nav-inside{
    position: relative;
    z-index: 10001;
}
.nav-inside:hover ul{
    visibility: visible;
    opacity: 1;
}
.nav-inside ul{
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s;
    -moz-transition:all 0.3s; /* Firefox 4 */
    -webkit-transition:all 0.3s; /* Safari and Chrome */
    -o-transition:all 0.3s;
}
.nav-inside ul li{
    width: inherit;
    background-color: #3b3e47;
}
.nav-inside ul li a{
    color: #ececee;
    display: block;
    text-align: center;
    
}
.nav-inside ul li a:hover{
    color: #3b3e47;
    background-color: #ececee;
    text-decoration: none;
    border-bottom: 2px solid #50c5c3;
}
.u-user{
    float: left;
    height: 58px;
    line-height: 58px;
    color: #ececee;
}
.u-user a{
    color: #ececee;
}
.u-user h1{
    float:left;
    padding-right: 20px;
}
/*Index Part!!!!*/
.g-bd{
    width: 100%;
    height: 2000px;
}
.g-top-info{
    width:100%;
    position: relative;
    height: 50vh;
    min-height: 300px;
    background-image: url("../images/ntk128027.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
}
.g-top-info:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.45);
}
.m-myinfo{
    position: absolute;
    z-index: 1000;
    width: 50%;
    height: 100px;
    bottom:35%;
    left: 15%;
    padding: 30px;
}
.m-myinfo h1{
    font-size: 36px;
    padding-bottom: 20px;
}
.m-myinfo p{
    font-size: 16px;
}
/*REG AND LOGIN PART!!!!!!*/
.g-inner-logreg{
    width: 350px;
    margin: 0 auto;
    padding: 60px 0 50px 0;
}
.g-inner-logreg input {
    width: 200px;
    height: 25px;
    margin-top: 20px;
    right: 0px;
    display: inline-block;
    -webkit-box-shadow: 0 0 0 8px #eef7f9;
    box-shadow: 0 0 0 8px #eef7f9;
    border: 1px solid #cfdfe3;
    outline: 0;
    padding:0 6px;
}
.g-inner-logreg label{
    display: inline-block;
    width: 100px;
    height: 29px;
    margin-top: 20px;
    text-align: right;
}
.g-inner-logreg .button{
    display: block;
    margin: 60px auto;
    background-color: #deeef4;
    color: #4d5a5e;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    height: 30px;
}
.g-inner-logreg input:focus{
    border-color: #93c2ec;
    -webkit-box-shadow: 0 0 0 8px #e1ecf5;
    box-shadow: 0 0 0 8px #e1ecf5;
}