<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>关于我－Kinice</title>
    <meta name="author" content="Bartek Szopka" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="/static/css/impress-demo.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>
<body class="impress-not-supported">
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>
<div id="impress">
    <div id="bored" class="step slide" data-x="-1000" data-y="-1500">
        <q style="text-align: center;">一个无聊的自我介绍</q>
        <q style="text-align: center;">Kinice</q>
    </div>
    <div class="step slide" data-x="0" data-y="-1500">
        <q>大家好。</q>
        <q>来自于山东，前端开发初心者。</q>
        <q>软件工程专业，基础还行。</q>
    </div>
    <div class="step slide" data-x="1000" data-y="-1500">
        <q>平常写写代码，玩玩游戏，听听音乐，看看书。 <br/><br/>好了，到这里这个无聊的自我介绍就完成了</q>
        <q style="text-align: right;">25% ---></q>
    </div>
    <div id="title" class="step" data-x="0" data-y="0" data-scale="4">
        <span class="try">你还没有了解</span>
        <h1>真正的我</h1>
    </div>
    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
        <p>你还不知道我对技术有 <strong>多么热爱</strong> <br/><br/>
        欢迎看看我的Github-- <a href="http://github.com/kinice">Kinice的github</a> <br/><br/>
        然后吐槽我从 <strong>小白</strong>到<strong>小白too</strong>的代码。</p>
    </div>

    <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
        <p>我有 <b>高大 </b> <span class="thoughts">的身躯</span></p>
    </div>
    <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        <p>也有 <b>细腻</b> 的思路</p>
    </div>
    <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
        <p>因为小时候没闲着, <b class="rotating">拉丁舞</b> and <b class="scaling">音乐</b> <br/>成为我终生的爱好</p>
    </div>

    <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
        <p>最幸福的 <b>生活方式</b> 就是我 <b class="imagination">什么都玩</b></p>
    </div>

    <div id="source" class="step" data-x="6300" data-y="2000" data-rotate="20" data-scale="4">
        <p>这个幻灯片是怎么做的？</p>
        <q><a href="http://github.com/bartaz/impress.js">use the source</a>, Luke!</q>
    </div>

    <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
        <p>唯一想强调的。。</p>
    </div>
    <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
        <p><span class="have">忠于</span> <span class="you">我</span> <span class="noticed">爱的</span> <span class="its">技术</span> <span class="in">不只是</span> <b>前端<sup>*</sup></b></p>
        <span class="footnote">* 一个中二的网瘾少年 <b>Kinice</b> ;)</span>
    </div>
    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>

</div>
<div class="hint">
    <p>按<b>空格键</b>或者<b>方向键</b>继续→</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>按<b>空格键</b>或者<b>方向键</b>继续→</p>";
}
</script>
<script src="/static/js/impress.js"></script>
<script>impress().init();</script>
</body>
</html>