<%- include header %>
<!-- header part -->
<!-- main body part -->
<div class="g-bd">
    <div class="g-inner clearfix">
        <article class="g-middle">
            <div class="m-title">
                <h1>这里是标题这里是标题</h1>
            </div>
            <div class="m-article">
                <p>
                    　　<strong>摘要：</strong>大学生就业观虽然具有相对稳定性，但并不是一成不变的，它的形成、变化、发展是一个动态的、复杂的过程。其受到主体、家庭、学校、社会发展等多种因素制约。在影响改革开放以来大学生就业观演变的诸多因素中，政治经济体制改革带来的影响又至关重要。因而本文拟就我国改革开放以来大学生就业观演变的政治经济因素，作一些宏观的梳理和初步思考。</p>
                <p>
                    <strong>　　一、不同时期大学生的各种就业观</strong></p>
                <p>
                    　　改革开放30多年，我国大学生就业方式及观念的变迁可划分为三个阶段：&ldquo;统包统分、供需见面、双向选择&rdquo;或&ldquo;服从分配、走向开放、自主择业&rdquo;。</p>
                <p>
                    　　1、计划分配阶段大学生的就业观</p>
                <p>
                    　　上世纪80年代中期之前的大学生是在计划经济体制下成长起来的。在这一时期，国家采用统包统分的政策分配人才，大学生按照国家政策，一般说来需要返回户籍所在地工作，所以很少有自主选择的就业观念。毕业后到行政机关、事业单位，或者国有企业去工作的直接分配方式，让他们基本上也不用担心就业问题。服从分配的就业观点和统分统包的就业政策，决定了这个时期大学生的就业观普遍有：择业倾向上不主动，择业标准上偏政治化，择业意向上重政工而轻农商的特点。政策引导下的这种 &ldquo;等、靠、要&rdquo;的想法，与后来市场导向下的自主择业观截然不同。</p>
                <p>
                    　　2、计划分配向双向选择过渡阶段大学生的就业观</p>
                <p>
                    　　上个世纪80年代中期到90年代初，我国经济政策开始由计划经济向市场经济转变，大学生的就业政策也发生了转折，我国对大学生的就业制度开始分步骤、分层次地逐步由&ldquo;统分统包&rdquo;向&ldquo;双向选择&rdquo;改革。具体来说，1983年-1993年这一阶段，国家将清华大学、上海交大、西安交大、山东海洋学院等院校作为试点，在调配工作中进行了&ldquo;供需见面&rdquo;相互选择的就业办法。至1993 年《中国教育改革和发展纲要》颁布，实行少数毕业生由国家安排就业，多数由学生&ldquo;自主择业&rdquo;的制度，标志着竞争开始引入大学生就业，实现了由&ldquo;统包统分&rdquo;和&ldquo;包当干部&rdquo;向&ldquo;自主择业&rdquo;的过渡。</p>
                <p>
                    　　竞争机制被引入高校后毕业生就业方向开始趋向市场化。这十余年大学生的择业标准较之社会、政治地位，经济地位成为了首选。大学生的就业观念出现了新的特点和趋势：择业倾向上走向多样、主动;择业标准上走向经济化;择业意向上偏重经济收入高的职业。这个阶段的大学生就业时开始主动追求个人利益，为进入市场经济体制下自由择业做下了铺垫。</p>
                <p>
                    　　3、双向选择阶段大学生的就业观</p>
                <p>
                    　　从上世纪90年代初，国家确立和建设社会主义市场经济体制，在这一阶段，国家不再负责安排大学生的具体就业岗位，而是引导大学生投身到就业市场进行自主择业，大学生和用人单位之间双向选择的关系基本确立。很多大学生在就业时认为&ldquo;待遇决定职业选择&rdquo;，更加注重职业收入，工作对生活的改善。在择业标准方面，行业发展前景越来越受到重视;在择业意向上工商并重，往日不被看好的服务业等第三产业成为新的就业热点;在就业认识上，意识到&ldquo;创业也是就业&rdquo;，勇于创业成为普遍接受的观念。这一阶段大学生自主择业就业观日渐成熟，标志着我国健康完善的大学生就业观步入了正轨。</p>
                <p>
                    　<strong>　二、现阶段政治经济政策对大学生就业观发展的制约</strong></p>
                <p>
                    　　探究改革开放以来我国大学生就业观演变的过程， 我们不难发现，随着经济体制、大学生户籍和就业制度、高等教育制度等国家政治经济政策的调整，促使了大学生就业观念不断变化。这些政策一方面极大地推进了大学生就业观的演变与发展，充分的利用了青年力量来进行市场经济建设。但另一方面囿于我国庞大的大学毕业生数量，当下不少政治经济政策仍然约束着大学生就业观的进一步发展。</p>
                <p>
                    　　通过调查不难发现，我国大学毕业生在择业过程中职业取向表现出了较高的一致性，充分说明社会因素对大学生的择业影响很大。&ldquo;因此可以推断，我国社会经济环境对他们的择业意识和择业行为产生了很大影响，事实上也是如此。究其原因我们认为，劳动力市场的制度性分割是大学生择业取向形成和大学毕业生就业难现象产生的主要原因。&rdquo;新古典经济学曾提出充分就业均衡的假定，但在我国，劳动力市场被很多诸如性别、制度、学历、户籍等因素分割成了高低不同的子市场，这其中尤以制度性因素为甚。制度性因素把我国劳动力市场，进行了城乡二元劳动力市场和城市内部主、次市场的分割。沿海地区、城市、外企、国家机关等可以看作是主要市场，农村、西部地区、乡镇企业等可以看作是次要市场。较之主要市场，大学生在次要市场要想找到工资回报率高，前途光明甚至可方便流动、合理社会保障的就业机会非常困难。制度性因素划分出的主、次市场，迫使大学生不得不放弃对次要市场的就业尝试，不惜付出暂时的失业代价。</p>
                <p>
                    　　其次，进入新世纪，为应对经济发展对人才的需求，高校不断扩大招生规模。高校扩招为社会提供了大量劳动力，极大地推动了经济的高速发展，但扩招同时也带来了一些副作用。面对经济规模的急剧膨胀，我国高校扩招并未很好的遵循循序渐进的做法，2013年大学毕业生数量从2003年的212万迅速增加至669万。大学毕业生数量飞速增加，市场需求瞬间饱和，陡然供大于求。</p>
                <p>
                    　　再加之当下高房价、高消费和低收入的矛盾，及传媒和社会舆论对工作好坏衡量标准的误导等，严重制约了我国大学生就业观进一步健康完善的发展。</p>
                <p>
                    　<strong>　三、优化制度环境，拓宽大学生就业渠道的对策</strong></p>
                <p>
                    　　国家政策是人才资源市场配置的具体准则，也是大学生在就业过程中应遵循的基本规范。国家决策调整往往会引起全国范围内政治、经济的重大变化，从而对大学生的就业观产生深刻影响。因而如何实现充分就业，推动高质量的就业，应从国家发展战略的新高度来审视。</p>
                <p>
                    　　1、加强政府调控和制度建设，引导大学生的合理流动</p>
                <p>
                    　　流动性是市场经济体制下社会劳动力就业的特点趋势和内在要求。但许多大学生面对不同的子市场，不同地区、不同行业之间悬殊差异时。对于贫困就业地区、收入微薄行业，往往不是积极就业而是选择暂时失业。因此无法单纯依靠市场力量来实现大学生向西部地区、艰苦行业的流动，各级政府要把引导大学生就业作为自己的工作责任，加大调控力度，采取切实的政策措施，鼓励大学生面向中西部地区及基层单位就业。尽快完善相关制度，对于赴基层工作的大学生给予适当必要的编制、岗位和资金。同时也应该采取诸如：肯定其行动，精神上鼓励和表扬;物质待遇上充分补偿，重视培养和提拔等激励措施，来加强大学生就业思想观念的转变。只有这样才能改变&ldquo;孔雀东南飞&rdquo;、&ldquo;一江春水向东流&rdquo;的现状，提高大学生的就业质量。</p>
                <p>
                    　　2、通过政策鼓励，推动大学生自主创业</p>
                <p>
                    　　政府固然要不断强化促进大学毕业生就业的责任意识，但是，政府不可能短时间内为高校毕业生提供上千万个就业机会。所以，空前的就业压力要得到有效缓解疏导，与其让大学生被动等待就业，不如通过政策激发他们自主创业，通过创业再带动就业。比如对从事个体经营的高校毕业生，可以简化审批手续，若干时期内减免他们的各项行政事业性收费。有条件的地区还可以通过政府、金融部门等现有渠道，为高校毕业生提供创业小额贷款和担保。通过降低市场准入门槛或减免税收，增强融资渠道等多种途径来引导大学生实现自主创业。</p>
                <p>
                    　　3、构建良好的传媒风气，营造正确的舆论导向</p>
                <p>
                    　　传媒和社会舆论对大学毕业生的就业观起着巨大的潜移默化作用。整个社会的职业观不改变， 大学毕业生的就业观不可能从根本上发生变化。&ldquo;三百六十行， 行行出状元&rdquo;并不能改变人们对职业贵贱差别的忽视。当下大学生不愿结合自身愿望、实力在社会中打拼创业，而是盲目的挤行政机关、事业单位这类独木桥。大学生暮气沉沉表现，正是源于社会将安逸舒适稳定与否，作为了衡量工作好坏的标准。在严峻就业形势下，社会应构筑良性的传媒渠道和社会舆论，宣扬职业无贵贱的思想，引导大学生树立正确的职业观。通过传媒大力宣传自主创业和到西部、到艰苦行业工作大学生的精神风貌，对那些在平凡岗位中做出不平凡业绩的大学生认真宣传事迹、总结经验。从而形成有利于大学生转变错误的就业观念，积极到祖国最需要的地方去，到能发挥自己聪明才智的岗位去建功立业。</p>
                <p>
                    　　总之，大学生就业观念的转变是一项漫长而系统的事情，难以一蹴而就，它需要个人、高校、政府和社会各方面共同努力，逐步完善。<br />
            </div>
        </article>
        <aside class="g-aside">
            <img src="/static/images/wechat.jpg" alt="扫码加博主微信"/>
        </aside>
    </div>
</div>
<%- include footer %>
