<%- include header %>
<!-- header part -->
<!-- main body part -->
<div class="g-bd">
    <div class="g-inner clearfix">
        <article class="g-middle">
            <div class="m-title">
                <h1><%= post.title %></h1>
            </div>
            <div class="m-article">
                <%- post.post %>
            </div>
        </article>
        <aside class="g-aside">
            <img src="/static/images/wechat.jpg" alt="扫码加博主微信"/>
        </aside>
    </div>
</div>
<i class="iconfont back-to-top">&#xe60d;</i>
<%- include footer %>
