<%- include header %>
<!-- header part -->
<!-- main body part -->
<div class="g-bd">
    <div class="g-inner clearfix">
        <article class="k-article">
            <h1><%= post.title %></h1>
                <%- post.post %>
        </article>
        <aside class="g-aside">
            <div class="aside-block">
                <img class="my-head" src="/static/images/avatar-my.jpg">
                <p class="my-name">Kinice</p>
                <p class="my-intro">前端开发初心者，现居北京朝阳</p>
                <p class="my-intro">详情请见——<a href="/about">关于我</a></p>
            </div>
        </aside>
    </div>
</div>
<%- include footer %>
