<%- include header %>
<!-- header part -->
<!-- main body part -->
<div class="g-bd">
    <div class="g-inner clearfix">
        <article class="k-article">
            <h1><%= post.title %></h1>
                <%- post.post %>
        </article>
        <aside class="g-aside">

        </aside>
    </div>
</div>
<i class="iconfont back-to-top">&#xe60d;</i>
<%- include footer %>
