<%- include header %>
<!-- header part -->
<!-- main body part -->
<div class="g-bd">
    <div class="g-inner clearfix">
        <article class="k-article">
            <h1><%= post.title %></h1>
                <%- post.post %>
        </article>
        <aside class="g-aside">
            <div class="aside-block"></div>
            <div class="aside-block"></div>
            <div class="aside-block"></div>
        </aside>
    </div>
</div>
<%- include footer %>
