<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>歧途</title>
    <style>
        .g-bd{
            text-align: center;
            padding-top: 80px;
        }
        .g-bd h1{
            font-size: 5em;
        }
        .g-bd span{
            color:crimson;
        }
        a{
            display: block;
            padding-top:45px;
            text-decoration: none;
            color:#44ab24;
            font-size: 35px;
            -moz-transition:font-size 0.1s;
            -o-transition:font-size 0.1s;
            -webkit-transition:font-size 0.1s;
            transition:font-size 0.1s;
        }
        a:hover{
            font-size:38px;
        }
    </style>
</head>
<body>
<div class="g-bd">
    <p style="color:dimgray">在人生的路上，你误入了歧途。</p>
    <h1>「ERR<span>O</span>R」</h1>
    <p><span><%= error.status %>-<%= message %></span></p>
    <a href="/">走，回家</a>
</div>
</div>
</body>
</html>