</div>
<footer class="g-ft">
    Designed by <span>Kinice</span> | View me on <a href="http://github.com/kinice/finalShow" class="iconfont">GitHub &#xe600;</a>
</footer>
<i class="iconfont back-to-top">&#xe60d;</i>
<script src="/static/js/highlight.pack.js"></script>
<script type="text/javascript" src="/static/js/header.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>