<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="Kinice的个人博客">
    <meta name="description" content="Kinice的个人博客，分享kinice的点滴生活">
    <meta name="author" content="Kinice">
    <meta name="baidu-site-verification" content="yo7pE95Dym" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/basic.css" />
    <link rel="stylesheet" href="/static/fonts/iconfont.css"/>
    <link rel="stylesheet" href="/static/css/commonNew.css"/>
    <link rel="stylesheet" href="/static/css/karticle.css"/>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body>
<div class="all">
<header>
    <div class="m-logo">
        <a href="/" title="回到首页"><h1>Kinice的个人博客</h1></a>
        <i class="iconfont menu">&#xe606;</i>
        <div class="mobile-menu">
            <form action="/search" method="GET">
               <input  type="text" placeholder="search">
            </form>
            <nav>
                <ul>
                    <li><a href="/">主页</a></li>
                    <li><a href="/about#/bored">关于我</a></li>
                    <li><a href="/articleList/all">文章列表</a></li>
                    <li><a href="/message">留言</a></li>
                </ul>
            </nav>
        </div>
    </div>
        <div class="iconfont pin">&#xe60f;</div>
        <div class="m-input">
            <form action="/search" method="GET">
                <input type="text" placeholder="search" name = "keyword"/>
                <input type="submit" value=""/>
            </form>
        </div>
        <nav class="out-nav">
            <ul>
                <li><a href="/">主页</a></li>
                <li>
                    <a href="/about#/bored">关于我</a>
                    <ul class="li-inside">
                        <li><a href="https://github.com/Kinice/" class="iconfont" target="_blank">&#xe600;</a></li>
                    </ul>  
                </li>
                <li>
                    <a href="/articleList/all">文章列表</a>
                    <ul class="li-inside">
                        <li><a href="/articleList/about-code">工作日常</a></li>
                        <li><a href="/articleList/brain-hole">脑洞钻孔</a></li>
                        <li><a href="/articleList/niu-b">牛B网文</a></li>
                        <li><a href="http://i.youku.com/kinicepro" target="_blank">自导视频</a></li>
                    </ul>
                </li>
                <li><a href="/message">留言</a></li>
            </ul>
        </nav>
    </header>
<%- include loginStatus.ejs %>