<%- include header %>
    <!-- header part -->
    <!-- main body part -->
    <div class="g-bd">
        <div class="g-top-info">
            <div class="m-myinfo">
                <h1>Kinice`s BLOG</h1>
                <p>想做什么，就去做吧</p>
            </div>
        </div>
        <div class="g-inner">

        </div>
    </div>
<%- include footer %>
