 <!-- <div class="u-user"> -->
            <% if(success){ %>
                <script>
                    window.onload = function(){
                        alert('<%= success %>');
                    }
                </script>
            <% } %>
            <% if(error){ %>
            <script>
                window.onload = function(){
                    alert('<%= error %>');
                }
            </script>
            <% } %>
    <!--    <% if(user){ %>
            <h1>欢迎你！ <%= user.name %></h1>
            <a href="/logout">登出</a>
            <% } %>
            <% if(!user){ %>
            <a href="/login">登录</a>
            |
            <a href="/reg">注册</a>
            <% } %>

        </div> -->