<%- include header %>
<!-- post part -->
<div class="g-bd">
    <div class="message-inner">
        <div class="talkbox">
            <h2>有啥想对我说的？</h2>
        </div>
        <div class="talkbox">
            <p>在这里输入</p>
            <div class="content-form clearfix">
                <div class="content-input">
                    <textarea name="content"></textarea>
                </div>
                <input type="button" value="发布">
            </div>
        </div>
    </div>
</div>
<%- include footer %>