<%- include header %>
    <!-- post part -->
    <div class="g-bd">
    	<div class="g-inner-post">
			<form method="post">
				<label>标题：</label> <input name="title" type="text" placeholder="主人要干什么">
                <label>标签：</label> <select name="tag">
                                        <option value="1">工作日常</option>
                                        <option value="2">脑洞钻孔</option>
                                        <option value="3">牛B网文</option>
                                     </select>
				<label>内容：</label> <textarea name="post" cols="30" rows="10"></textarea>
				<input type="submit" value="请求发布">
			</form>
		</div>
	</div>
<%- include footer %>