<%- include header %>
    <!-- post part -->
    <div class="g-bd">
		<form method="post">
			<label>标题：</label> <input name="postTitle" type="text" placeholder="主人要干什么">
			<label>内容：</label> <textarea name="postContent" cols="30" rows="10"></textarea>
		</form>
	</div>
<%- include footer %>