<%- include header %>
    <!-- post part -->
    <div class="g-bd">
    	<div class="g-inner">
            <div class="m-art-list">
                <a class="img-a" href="" style="background-image: url('/static/images/list1.png');"></a>
                <a href=""><h4>这是一个测试啊哈哈哈哈哈啊哈哈哈</h4></a>
                <div class="user-info">
                    <img src="/static/images/head.png" alt="">
                    <span>Kinice</span>
                </div>
                <ul>
                    <li>标签</li>
                    <li>标签</li>
                </ul>
            </div> 
            <div class="m-art-list">
                <a class="img-a" href="" style="background-image: url('/static/images/list2.png');"></a>
                <a href=""><h4>这是一个测试啊哈哈哈哈哈啊哈哈哈</h4></a>
                <div class="user-info">
                    <img src="/static/images/head.png" alt="">
                    <span>Kinice</span>
                </div>
                <ul>
                    <li>标签</li>
                    <li>标签</li>
                </ul>
            </div>  
            <div class="m-art-list">
                <a class="img-a" href="" style="background-image: url('/static/images/list3.jpg');"></a>
                <a href=""><h4>这是一个测试啊哈哈哈哈哈啊哈哈哈</h4></a>
                <div class="user-info">
                    <img src="/static/images/head.png" alt="">
                    <span>Kinice</span>
                </div>
                <ul>
                    <li>标签</li>
                    <li>标签</li>
                </ul>
            </div>    
        </div>
	</div>
<%- include footer %>