
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467472886'); /* IE9*/
  src: url('iconfont.eot?t=1467472886#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467472886') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467472886') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467472886#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e607"; }
.icon-bianji:before { content: "\e601"; }
.icon-delete:before { content: "\e611"; }
.icon-home:before { content: "\e602"; }
.icon-back:before { content: "\e609"; }
.icon-less:before { content: "\e60a"; }
.icon-moreunfold:before { content: "\e60b"; }
.icon-more:before { content: "\e60c"; }
.icon-imgcommonmes2x1:before { content: "\e610"; }
.icon-cha:before { content: "\e603"; }
.icon-github:before { content: "\e600"; }
.icon-guanyu:before { content: "\e604"; }
.icon-huidaodingbu:before { content: "\e60d"; }
.icon-bf-icon-correct:before { content: "\e605"; }
.icon-iconliebiao:before { content: "\e606"; }
.icon-code:before { content: "\e608"; }
.icon-pin:before { content: "\e60f"; }
.icon-good:before { content: "\e60e"; }
